<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{tabPlayer.name}} {{ tabPlayer.first_name}}</ion-title>
    <ion-avatar slot="end">
      <img id="avatarProfil" src="{{imgUser}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-list lines=" full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="name" value="{{tabPlayer.name}}"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="first_name" value="{{tabPlayer.first_name}}">
        </ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.first_name">
        <ng-container *ngIf="first_name.hasError(error.type) && (first_name.dirty || first_name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input inputmode="email" formControlName="email" value="{{tabPlayer.email}}"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password" value=""></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position='floating'>Photo</ion-label>
        <ion-input readonly></ion-input>
        <ion-row class="rowImg">
          <img class="logo" src="{{img_new}}" *ngIf="img_new!=''" />
        </ion-row>
        <ion-row class="rowImg" id="oldImg">
          <img class="logo" src="{{imgUser}}" />
        </ion-row>
      </ion-item>


      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-input type="file" name="image" formControlName="file" accept=".jpg, .png, .jpeg" (change)="changeListener($event)"
            id="inputFile">
          </ion-input>
          <ion-button type="submit" expand="block" color="light">UPLOAD<ion-icon name="cloud-upload-outline" slot="end">
            </ion-icon>
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>


    </ion-list>

    <ion-button type="submit" expand="block">Modifier<ion-icon slot="end" name="create">
      </ion-icon>
    </ion-button>
  </form>
</ion-content>
