<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Recherche rapide
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="" class="ion-padding">
    <h1>Rechercher un joueur </h1>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-list lines=" full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Type de sport</ion-label>
                <ion-input inputmode="text" formControlName="sport_type" value="FOOTBALL" disabled=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Pays d'origine</ion-label>
                <ion-input inputmode="text" formControlName="current_country" value=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Poste</ion-label>
                <ion-select inputmode="text" formControlName="post" value="">
                    <ion-select-option value="">Tout</ion-select-option>
                    <ion-select-option *ngFor="let poste of selectPoste"  value="{{poste.poste}}">{{poste.poste}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Pied fort</ion-label>
                <ion-select inputmode="text" formControlName="cote" value="">
                    <ion-select-option value="">Tout</ion-select-option>
                    <ion-select-option *ngFor="let foot of selectFoot"  value="{{foot.strong}}">{{foot.strong}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Niveau</ion-label>
                <ion-select inputmode="text" formControlName="level" value="">
                    <ion-select-option value="">Tout</ion-select-option>
                    <ion-select-option *ngFor="let level of selectLevel"  value="{{level.level}}">{{level.level}}</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-list>

        <ion-button type="submit" expand="block">Rechercher
        </ion-button>
    </form>

    <div class="ion-padding" id ="res" style="display: none">

        <!-- Theme classes dark, material, bootstrap -->
        <ngx-datatable
                class="material"
                [limit]="8"
                [rows]="rows"
                [rowHeight]="50"
                [columns]="columns"
                [columnMode]="'force'"
                [sortType]="'multi'"
                [headerHeight]="50"
                [footerHeight]="50">
            <ngx-datatable-column name="Nom">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Prénom">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.first_name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Poste">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.poste}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Pieds">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.strong}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Niveau">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.level}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-tab-button>Détails </ion-tab-button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>
</ion-content>
