<ion-header>
  <ion-toolbar>
    <ion-title>candidature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <div *ngFor="let appli of applications">
      <ion-item (click)="goToCandidature(appli.id_offer)" color="primary">
        <ion-avatar>
          <img src="https://nicolasfabing.fr/ionic/imagesClub/{{appli.img}}" alt="">
        </ion-avatar>
        <ion-label>
          <b>Club:{{ appli.name }}</b><br>
          <b>Description:{{ appli.description }}</b><br>
          <b>Poste:{{ appli.poste }}</b>
        </ion-label>
      </ion-item>
      <br>
    </div>
    </ion-list>
</ion-content>