#imgClub{
    position: absolute;
    opacity: 0.5;
    width: 15%;
    margin-left: 75%;
}

#iconCard{
    font-size: 6em;
    position: absolute;
    opacity: 0.2;
    margin-left: 70%;
    margin-top: -20px;
}

