<ion-header>
    <ion-toolbar>
        <ion-title>Détails de l'offre </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="offre-search-results"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <div *ngFor="let offer of offers">
            <ion-row class="ion-align-items-center">
                <ion-col size-xl="1" size-xs="2">
                    <ion-img [src]="'https://nicolasfabing.fr/ionic/imagesClub/' + offer.img_club" ></ion-img>
                </ion-col>
                <ion-col size-xl="4" size="6">
                    <h2>{{ offer.club_name }}</h2>
                </ion-col>
                <ion-col *ngIf="globalService.idUser > 0" size-xl="1" size-xs="2">
                    <ion-img [src]="imgFavorite" (click)="handleClickFavorite()" ></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h3>Description de l'offre :</h3>
                    <p>{{ offer.offer_description }}</p>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <p>Poste : {{ offer.poste }}</p>
                    <p>Disponibilité : {{ offer.availability }}</p>
                    <p>Nationalité : {{ offer.nationality }}</p>
                </ion-col>
                <ion-col size="6">
                    <p>Pied : {{ offer.foot }}</p>
                    <p>Niveau : {{ offer.championnat }}</p>
                    <p>Pays : {{ offer.country }}</p>
                </ion-col>
            </ion-row>


            <ion-row class="justify-content-center padding-top">
                <ion-col *ngIf="globalService.idUser > 0 && state === 0" size-xl="4" size="12">
                    <ion-button expand="block" (click)="handleClickApplication()" [color]="colorButton" >{{ textButton }}</ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="state === 1">
                <ion-col>
                    <h2>Candidature Acceptée !</h2>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="state === 2">
                <ion-col>
                    <h2>Candidature Rejetée</h2>
                </ion-col>
            </ion-row>
        </div>
        <!-- end ngFor-->
    </ion-grid>


</ion-content>
