<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recherche offre
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="" class="ion-padding">
  <h1>Rechercher une offre </h1>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-list lines=" full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Type de sport</ion-label>
        <ion-input inputmode="text" formControlName="sport_type" value="FOOTBALL" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Pays (France, Mexico...)</ion-label>
        <ion-input inputmode="text" formControlName="country" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Division (Ligue 1, Bundesliga, Premiere League...)</ion-label>
        <ion-input inputmode="text" formControlName="division" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Poste</ion-label>
        <ion-select inputmode="text" formControlName="post" value="">
          <ion-select-option value="">Tout</ion-select-option>
          <ion-select-option *ngFor="let poste of selectPoste"  value="{{poste.poste}}">{{poste.poste}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Côté</ion-label>
        <ion-select inputmode="text" formControlName="cote" value="">
          <ion-select-option value="">Tout</ion-select-option>
          <ion-select-option *ngFor="let foot of selectFoot"  value="{{foot.strong}}">{{foot.strong}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Niveau</ion-label>
        <ion-select inputmode="text" formControlName="level" value="">
          <ion-select-option value="">Tout</ion-select-option>
          <ion-select-option *ngFor="let level of selectLevel"  value="{{level.level}}">{{level.level}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-button type="submit" expand="block">Rechercher
    </ion-button>
  </form>
</ion-content>
