<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recherche offre
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="">
  <h1>Rechercher une offre </h1>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-list lines=" full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Type de sport</ion-label>
        <ion-input inputmode="text" formControlName="sport_type" value="FOOTBALL" disabled=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Pays</ion-label>
        <ion-input inputmode="text" formControlName="country" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Division</ion-label>
        <ion-input inputmode="text" formControlName="division" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Poste</ion-label>
        <ion-select inputmode="text" formControlName="post" value="">
        <div id="select_poste"><ion-select-option value="">Tout</ion-select-option></div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Côté</ion-label>
        <ion-select inputmode="text" formControlName="cote" value="">
        <div id="select_foot"><ion-select-option value="">Tout</ion-select-option></div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Niveau</ion-label>
        <ion-select inputmode="text" formControlName="level" value="">
        <div id="select_niveau"><ion-select-option value="">Tout</ion-select-option></div>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-button type="submit" expand="block">Rechercher
    </ion-button>
  </form>
</ion-content>
